/*
    Hover Nav
    Load file
    Table Height
*/

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');
@import url(../fonts/css/font-awesome.css);
@import url(main/left_aside.css);
@import url(main/right_article.css);
@import url(pages/page_index.css);
@import url(filters/index_filter.css);
@import url(media/index_media.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    font-family: 'Mulish', sans-serif;
    background: var(--mainBlack);
    position: relative;
}
:root{
    --white: #f3f3f3;
    --black: #1B1918;
    --mainOrange:#E85821;
    --secondOrange: #EC7E34;
    --mainGray: #35312F;
    --mainBlack: #262322;
    --secondGray: #787776;
    --secondBlack: #262322;
    --themeSwitch: rgba(96,96,96, 0.5);
}
.dark{
    --white: #1B1918;
    --black: #f3f3f3;
    --mainOrange:#EC7E34;
    --mainGray: #E0E0E0;
    --mainBlack: #F3F3F3;
    --secondGray:#C8C8C8;
    --secondBlack: #F3F3F3;
    --themeSwitch: rgba(180,180,180, 0.5);
}

/* THEMESWITCH */
#theme__switch{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: none;
    color: var(--white);
    transition: .3s;
}
#theme__switch:hover{
    background: var(--themeSwitch);
}
#theme__switch::before{
    content: '\f185';
    font-family: fontAwesome;
    font-size: 30px;
}
#theme__switch.active::before{
    content: '\f186';
}