@import url(filter_table.css);
@import url(filter_search.css);
@import url(filter_export_print.css);
@import url(modal.css);

/* FILTERS */
article .filters{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--mainGray);
    padding: 30px 100px 30px 30px;
}
/* FILTERS LABEL */
article .filters input[type="checkbox"]{
    display: none;
}
article .filters label{
    background: var(--mainOrange);
    color: var(--white);
    cursor: pointer;
}
.hidden{
    display: none;
}