@import url(filterSearch.css);
@import url(filtersTable.css);

article .filters{
    padding: 0 0 0 40px;
    display: flex;
    width: 90%;
    justify-content: space-between;
}
article .filters input[type="checkbox"]{
    display: none;
}
article .filters label{
    background: var(--gradientO);
    color: whitesmoke;
    cursor: pointer;
}