@import url(filterSearch.css);
@import url(filtersTable.css);

article .filters{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--mainGray);
    padding: 30px 100px 30px 30px;
}
article .filters input[type="checkbox"]{
    display: none;
}
article .filters label:nth-child(2){
    background: none;
    color: var(--white);
    border: 1px solid var(--mainOrange);
}
article .filters label{
    background: var(--mainOrange);
    color: var(--white);
    cursor: pointer;
}