.filters-table{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    position: relative;
}
.filters-table .filters-button{
    width: 29.9%;
    padding: 0 20px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .1s;
}
.filters-table #fields:checked + label,
.filters-table #hours:checked + label,
.filters-table #sort:checked + label{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.sub_filter{
    width: 29.9%;
    visibility: hidden;
    background-color: aliceblue;
    position: absolute;
    padding: 10px;
    z-index: 20;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-flow: column wrap;
    top: 50px;
    right: 15px;
}
.sub_filter a{
    padding: 0 0 10px 25px;
    text-decoration: none;
    position: relative;
    font-size: 1.1em;
}
.sub_filter a::before{
    position: absolute;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid black;
    top: 7px;
    left: 0;
}
.filters-button:click .sub_filter{
        transform: translateY(-150%);
        animation: ani 1s forwards;
}
@keyframes ani {
    0% {transform: translateY(-150%);}
    100% {transform: translateY(0);}
  }
.sub_fields{
    right: 405px;
}
.sub_hours{
    right: 210px;
}
.filters-table #fields:checked ~ .sub_fields,
.filters-table #hours:checked ~ .sub_hours,
.filters-table #sort:checked ~ .sub_sort{
    opacity: 1;
    visibility: visible;
    transform: translateY(-150%);
    animation: sub_menu .5s forwards;
}

@keyframes sub_menu {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }