@import url(pages.css);

@media (max-width: 720px) {
    aside{
        display: none;
    }
    table thead {
        display: none;
    }
    table tr {
        display: block;
        border-bottom: 1px solid var(--white);
    }
    table td {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }
    table td::before {
        content: attr(data-label);
        font-weight: bold;
        margin-right: 20px;
    }
}