body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
}
.add-student{
    border-radius: 20px;
    width: 350px;
    height: 350px;
    margin: 150px 0;
    padding: 10px;
    border: 1px solid var(--redOrange);
    box-shadow: 0 0 1px 1px var(--redOrange);
    background-color: #1B1918;
}
.add-student form{
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}
.add-student form input{
    background: none;
    outline: none;
    border: none;
    width: 95%;
    height: 25px;
    font-size: 1.4em;
    color: white;
}
.add-student form .underline{
    position: relative;
}
.add-student form .underline::after{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #3A3E41;
}
.add-student .buttons{
    height: 20%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
}
.add-student .buttons input{
    width: 40%;
    height: 40px;
    background: linear-gradient(to bottom, rgb(246,134,33) 5%, rgb(246,134,33) 5%, rgb(233,52,5) 100%);
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: white;
}