/* Дописать таблицу / форму редактирования */
/* Адаптивная таблица через data */
/* валидация */
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
@import url(leftAside.css);
@import url(rightArticle.css);
@import url(filters/filters.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Shippori Antique', sans-serif;
    background: var(--bodyBackground);
    position: relative;
}
:root{
    --white: rgb(212, 212, 212);
    --black: #000;
    --redOrange: rgb(233,52,5);
    --lightOrange: rgb(246,134,33);
    --gradientO: linear-gradient(to bottom, rgb(246,134,33) 5%, rgb(246,134,33) 5%, rgb(233,52,5) 100%);
    --bodyBackground: linear-gradient(#181a1b 50%, #6e6f6f);
    --tableBackground: rgb(27,25,24);
    --tableBorder: rgb(233,52,5);
    --tableThead: rgb(90,52,27);
    --tableTd: rgba(233,53,5,0.5);
    --navBackground: rgba(40,39,38, 0.8);
    --loginImageBg: center / contain no-repeat url(../../media/bg-authorization-dark.png);
    --navImageBg: center / cover no-repeat url(../media/bg-nav-dark.png);
}
.dark{
    --white: #000;
    --black: rgb(212, 212, 212);
    --redOrange: #549E7C;
    --lightOrange: rgb(64, 229, 199);
    --gradientO: linear-gradient(to bottom,#37c5ad 50%, #179C85);
    --bodyBackground: linear-gradient(to bottom, #ECD8CA 50%, #FBB484);
    --tableBackground: #F0EBE8;
    --tableBorder: rgb(27,25,24);
    --tableThead: rgba(234, 143, 73, 0.8);
    --tableTd:rgb(27,25,24);
    --navBackground: rgba(234, 143, 73, 0.52);
    --loginImageBg: center / contain no-repeat url(../../media/bg-authorization-light.png);
    --navImageBg: center / cover no-repeat url(../media/bg-nav-light.png);
}
