/* Дописать таблицу / форму редактирования */
/* Адаптивная таблица через data */
/* валидация */
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
@import url(leftAside.css);
@import url(rightArticle.css);
@import url(filters/filters.css);
@import url(../fonts/css/font-awesome.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Shippori Antique', sans-serif;
    background: var(--mainBlack);
    position: relative;
}
:root{
    --white: #f3f3f3;
    --black: #1B1918;
    --mainOrange:#E85821;
    --secondOrange: #EC7E34;
    --mainGray: #35312F;
    --mainBlack: #262322;
    --secondGray: #787776;
    --secondBlack: #262322;
    --themeSwitch: rgba(96,96,96, 0.5);
}
.dark{
    --white: #1B1918;
    --black: #f3f3f3;
    --mainOrange:#EC7E34;
    --mainGray: #E0E0E0;
    --mainBlack: #F3F3F3;
    --secondGray:#C8C8C8;
    --secondBlack: #F3F3F3;
    --themeSwitch: rgba(180,180,180, 0.5);
}
#themeSwitch{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: none;
    color: var(--white);
    transition: .3s;
}
#themeSwitch:hover{
    background: var(--themeSwitch);
}
#themeSwitch::before{
    content: '\f185';
    font-family: fontAwesome;
    font-size: 30px;
}
#themeSwitch.active::before{
    content: '\f186';
}